<div class="container">
    <div class="text-center"><h2>Temparature Converter</h2></div>
<div class="row" >
<div class="offset-sm-4 col-sm-4">
    <div class="form-group">
      <label>Celsius: </label>
      <input type="number" class="form-control" [(ngModel)]="c" (ngModelChange)="changed($event,'c')"  
      data-test-id="celsius-input"/>
    </div>
  
    <div class="form-group">
        <label>Fahrenheit: </label>
        <input type="number" class="form-control" [(ngModel)]="f" (ngModelChange)="changed($event,'f')"  data-test-id="fahrenheit-input"/>
    </div>
  </div>
</div>
</div>